
#main {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.bespin {
    margin: 0; padding: 0; border: 0;
    position: fixed;
    top: 15px;
    bottom: 0;
    left: 0;
    right: 0;
    width: auto !important;
    height: auto !important;
    display: block;
}

body {
    height: 100%;
    margin: 0;
    color: white;
    background-color: black;
    font-family: Calibri, Helvetica, Arial;
}

#header {
    padding: 0;
    border-bottom: 1px white solid;
    height: 30px;
}

h1 {
    padding: 0; margin: 0;
    font-size: 1.2em;
    color: #0b0;
    font-style: italic;
    font-weight: bold;
}

#toolbar {
    float: right;
    position: absolute;
    top: 3px;
    right: 20px;
    width: 200px;
}

#filename {
    float: right;
    position: absolute;
    left: 100px;
    top: 5px;
}

.button {
    background-color: white;
    color: black;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin-right: 15px;
    padding: 3px 10px 3px 10px;
    font-size: 0.8em;
    cursor: pointer;
    text-decoration: none;
}

.button:hover {
    background-color: #eee;
}

.button.disabled {
    background-color: #aaa;
    cursor: default;
}

#simplemodal-container {
    background-color:#333; border:8px solid #444; padding:12px;
}

#simplemodal-container ul {
    margin-top: 0;
    margin-bottom: 0;
}

#simplemodal-container a.modalCloseImg {
    background:url(/bespin/public/images/x.png) no-repeat;
    width:25px;
    height:29px;
    display:inline;
    z-index:3200;
    position:absolute;
    top:-15px;
    right:-18px;
    cursor:pointer;
}


.tree li a, .tree li span {
    color: white !important;
}
